.text-muted {
  color: $text-muted-color;
}

.field-label {
  font-weight: 600;
  font-size: 1rem;
  color: $text-label-color;
  display: flex;
  align-items: center;
}
.field-item-label {
  font-weight: 600;
  font-size: 1em;
  color: $text-label-color;
  display: flex;
  align-items: center;
}

.old-value {
  text-decoration: line-through;
  color: $text-muted-color;
}