// Import icon libraries
@import '@quasar/extras/material-icons/material-icons.css';
// Import Quasar css
@import 'quasar/src/css/index.sass';
@import 'styles/variables';
// Import VNetworkGraph css
@import 'v-network-graph/lib/style.css';

@import 'styles/inputs';
@import 'styles/text';