apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: smart-irrigation
  labels:
      app: api-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: smart-irrigation-api-gateway
          image: localhost:32000/smart-irrigation-api-gateway:latest
          ports:
            - containerPort: 8080
          env:
            - name: WeatherMonitorService__BaseUrl
              value: "http://weather-monitoring"
            - name: IrrigationService__BaseUrl
              value: "http://irrigation-service"
            - name: ASPNETCORE_URLS
              value: "http://[::]:8080"

---

apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: smart-irrigation
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
